.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 24px;
}

.grid-cardbat {
    display: grid;
    grid-template-columns: 80% repeat(1, 1fr); /* 6 columns of equal width */
    /*grid-template-rows: repeat(3, 1fr);     3 rows of equal height */
    animation:ease-in-out;
    
  }
  
  .grid-itembat {
    /* Styling for individual grid items */
    border: 1px solid #fff;
    padding: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: left;
   
  }

  .subtitle{
    color: rgb(7, 207, 7);
  }

  .subtitle1{
    color: black;
  }

  mat-card-title{
    font-size: 16px;
  }
  