<div class="bootstrap-wrapper mr20 ml20">
    <div class="row">
        <div class="col-xs-12 col-md-12">
                <div >
                    <form class="example-form">
                        <h3>Striker</h3>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder=" Ex. Team 1">
                        </mat-form-field>
                        <h3>Non-Striker</h3>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder=" Ex. Team 2">
                          </mat-form-field>
                          <h3>Opening Bowler</h3>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder=" Ex. Team 2">
                          </mat-form-field>
                        <mat-card-actions>
                            <button mat-raised-button routerLink="/score">Start Match</button>
                        </mat-card-actions>
                    </form>

                </div>
        </div>
    </div>
</div>